# Session 11 (15 June 2018)
## PDAP-2018

### Transcript

Now following is the original transcript as used in class on 08 June 2018.

## Understanding Error messages

http://swcarpentry.github.io/python-novice-inflammation/07-errors/index.html

In [1]:
# This code has an intentional error. You can type it directly or
# use it for reference to understand the error message below.
def favorite_ice_cream():
    ice_creams = [
        "chocolate",
        "vanilla",
        "strawberry"
    ]
    print(ice_creams[3])

favorite_ice_cream()

IndexError: list index out of range

In [2]:
def some_function()
    msg = "hello, world!"
    print(msg)
     return msg

SyntaxError: invalid syntax (<ipython-input-2-95d391d879b2>, line 1)

In [3]:
def some_function():
    msg = "hello, world!"
    print(msg)
     return msg

IndentationError: unexpected indent (<ipython-input-3-18d6e2304f63>, line 4)

In [4]:
print(some_variable)

NameError: name 'some_variable' is not defined

## Handling dates and times

In [5]:
import datetime

In [24]:
mydate = datetime.datetime(2018, 5, 31, 23, 54, 12, 555433)
mydate

datetime.datetime(2018, 5, 31, 23, 54, 12, 555433)

In [10]:
datetime.datetime(2018, 5, 31)

datetime.datetime(2018, 5, 31, 0, 0)

In [11]:
datetime.datetime.now()

datetime.datetime(2018, 6, 15, 10, 43, 23, 882661)

In [18]:
datetime.datetime.strptime('2018-04-05 12:54:22', '%Y-%m-%d %H:%M:%S')

datetime.datetime(2018, 4, 5, 12, 54, 22)

https://docs.python.org/3.6/library/datetime.html#strftime-strptime-behavior.

In [25]:
mydate.date()

datetime.date(2018, 5, 31)

In [26]:
mydate.time()

datetime.time(23, 54, 12, 555433)

In [22]:
mydate + datetime.timedelta(hours=1, seconds=33)

datetime.datetime(2018, 6, 1, 0, 54, 45, 555433)

In [23]:
mydate + datetime.timedelta(1)

datetime.datetime(2018, 6, 1, 23, 54, 12, 555433)

In [27]:
mydate.isoformat()

'2018-05-31T23:54:12.555433'

In [32]:
mydate += datetime.timedelta(1)

In [35]:
mydate.strftime('%y%m%d'), mydate.strftime('%d %b %H %B %Y')

('180601', '01 Jun 23 June 2018')

In [36]:
mystring = 'The date is {:%Y%m%d}'
print(mystring)

The date is {:%Y%m%d}

In [37]:
mystring.format(mydate)

'The date is 20180601'

### NumPy datetime objects

In [38]:
import numpy as np

In [42]:
myndate = np.datetime64('2018-05-31T21:32:43')
print(myndate)
print(myndate.dtype)

2018-05-31T21:32:43
datetime64[s]

In [43]:
myndate + 1

numpy.datetime64('2018-05-31T21:32:44')

In [45]:
np.datetime64('2018-05-31T21'), np.datetime64('2018-05-31T21').dtype

(numpy.datetime64('2018-05-31T21','h'), dtype('<M8[h]'))

In [46]:
np.datetime64('2018-05-31T21') + 1

numpy.datetime64('2018-05-31T22','h')

### Pandas datetimes

In [47]:
import pandas as pd

In [49]:
mypdate = pd.Timestamp('2018-05-31T21:32:43')
mypdate

Timestamp('2018-05-31 21:32:43')

In [52]:
mypdate.year

2018

### Conversion between different time objects

#### Pandas to X

In [54]:
mypdate.to_pydatetime(), type(mypdate.to_pydatetime())

(datetime.datetime(2018, 5, 31, 21, 32, 43), datetime.datetime)

In [55]:
mypdate.to_datetime64(), type(mypdate.to_datetime64()), mypdate.to_datetime64().dtype

(numpy.datetime64('2018-05-31T21:32:43.000000000'),
 numpy.datetime64,
 dtype('<M8[ns]'))

#### NumPy to X

In [56]:
myndate

numpy.datetime64('2018-05-31T21:32:43')

In [57]:
myndate.astype(datetime.datetime)

datetime.datetime(2018, 5, 31, 21, 32, 43)

In [62]:
np.arange(1000, 1005).astype('uint8')

array([232, 233, 234, 235, 236], dtype=uint8)

In [64]:
# !! CAUTION !!
myndate.astype(pd.Timestamp)

datetime.datetime(2018, 5, 31, 21, 32, 43)

In [65]:
pd.Timestamp(myndate)

Timestamp('2018-05-31 21:32:43')

#### from Python datetime to X

In [67]:
np.datetime64(mydate), np.datetime64(mydate).dtype

(numpy.datetime64('2018-06-01T23:54:12.555433'), dtype('<M8[us]'))

In [68]:
pd.Timestamp(mydate)

Timestamp('2018-06-01 23:54:12.555433')

### Arrays / lists

In [70]:
[datetime.datetime(2018, 5, n) for n in range(1, 4)]

[datetime.datetime(2018, 5, 1, 0, 0),
 datetime.datetime(2018, 5, 2, 0, 0),
 datetime.datetime(2018, 5, 3, 0, 0)]

In [99]:
mynrange = np.arange('2018-05-01', '2018-05-04', dtype='datetime64')
mynrange

array(['2018-05-01', '2018-05-02', '2018-05-03'], dtype='datetime64[D]')

In [75]:
np.arange('2018-05-01', '2018-05-02', dtype='datetime64[h]')

array(['2018-05-01T00', '2018-05-01T01', '2018-05-01T02', '2018-05-01T03',
       '2018-05-01T04', '2018-05-01T05', '2018-05-01T06', '2018-05-01T07',
       '2018-05-01T08', '2018-05-01T09', '2018-05-01T10', '2018-05-01T11',
       '2018-05-01T12', '2018-05-01T13', '2018-05-01T14', '2018-05-01T15',
       '2018-05-01T16', '2018-05-01T17', '2018-05-01T18', '2018-05-01T19',
       '2018-05-01T20', '2018-05-01T21', '2018-05-01T22', '2018-05-01T23'],
      dtype='datetime64[h]')

In [84]:
myprange = pd.date_range(start='2018-05-01', end='2018-05-04', freq='h')
myprange

DatetimeIndex(['2018-05-01 00:00:00', '2018-05-01 01:00:00',
               '2018-05-01 02:00:00', '2018-05-01 03:00:00',
               '2018-05-01 04:00:00', '2018-05-01 05:00:00',
               '2018-05-01 06:00:00', '2018-05-01 07:00:00',
               '2018-05-01 08:00:00', '2018-05-01 09:00:00',
               '2018-05-01 10:00:00', '2018-05-01 11:00:00',
               '2018-05-01 12:00:00', '2018-05-01 13:00:00',
               '2018-05-01 14:00:00', '2018-05-01 15:00:00',
               '2018-05-01 16:00:00', '2018-05-01 17:00:00',
               '2018-05-01 18:00:00', '2018-05-01 19:00:00',
               '2018-05-01 20:00:00', '2018-05-01 21:00:00',
               '2018-05-01 22:00:00', '2018-05-01 23:00:00',
               '2018-05-02 00:00:00', '2018-05-02 01:00:00',
               '2018-05-02 02:00:00', '2018-05-02 03:00:00',
               '2018-05-02 04:00:00', '2018-05-02 05:00:00',
               '2018-05-02 06:00:00', '2018-05-02 07:00:00',
               '2018-05-02 08:00:00', '2018-05-02 09:00:00',
               '2018-05-02 10:00:00', '2018-05-02 11:00:00',
               '2018-05-02 12:00:00', '2018-05-02 13:00:00',
               '2018-05-02 14:00:00', '2018-05-02 15:00:00',
               '2018-05-02 16:00:00', '2018-05-02 17:00:00',
               '2018-05-02 18:00:00', '2018-05-02 19:00:00',
               '2018-05-02 20:00:00', '2018-05-02 21:00:00',
               '2018-05-02 22:00:00', '2018-05-02 23:00:00',
               '2018-05-03 00:00:00', '2018-05-03 01:00:00',
               '2018-05-03 02:00:00', '2018-05-03 03:00:00',
               '2018-05-03 04:00:00', '2018-05-03 05:00:00',
               '2018-05-03 06:00:00', '2018-05-03 07:00:00',
               '2018-05-03 08:00:00', '2018-05-03 09:00:00',
               '2018-05-03 10:00:00', '2018-05-03 11:00:00',
               '2018-05-03 12:00:00', '2018-05-03 13:00:00',
               '2018-05-03 14:00:00', '2018-05-03 15:00:00',
               '2018-05-03 16:00:00', '2018-05-03 17:00:00',
               '2018-05-03 18:00:00', '2018-05-03 19:00:00',
               '2018-05-03 20:00:00', '2018-05-03 21:00:00',
               '2018-05-03 22:00:00', '2018-05-03 23:00:00',
               '2018-05-04 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [85]:
myprange.day, myprange.hour

(Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
             1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
             2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
             3, 3, 3, 3, 3, 3, 4],
            dtype='int64'),
 Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
             10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,  0,  1,  2,
              3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
             20, 21, 22, 23,  0],
            dtype='int64'))

In [88]:
myprange[myprange.hour == 13]

DatetimeIndex(['2018-05-01 13:00:00', '2018-05-02 13:00:00',
               '2018-05-03 13:00:00'],
              dtype='datetime64[ns]', freq=None)

In [92]:
myprange[myprange.weekday_name == 'Wednesday']

DatetimeIndex(['2018-05-02 00:00:00', '2018-05-02 01:00:00',
               '2018-05-02 02:00:00', '2018-05-02 03:00:00',
               '2018-05-02 04:00:00', '2018-05-02 05:00:00',
               '2018-05-02 06:00:00', '2018-05-02 07:00:00',
               '2018-05-02 08:00:00', '2018-05-02 09:00:00',
               '2018-05-02 10:00:00', '2018-05-02 11:00:00',
               '2018-05-02 12:00:00', '2018-05-02 13:00:00',
               '2018-05-02 14:00:00', '2018-05-02 15:00:00',
               '2018-05-02 16:00:00', '2018-05-02 17:00:00',
               '2018-05-02 18:00:00', '2018-05-02 19:00:00',
               '2018-05-02 20:00:00', '2018-05-02 21:00:00',
               '2018-05-02 22:00:00', '2018-05-02 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [93]:
np.datetime64(myprange)

TypeError: an integer is required (got type Int64Index)

In [98]:
np.array(myprange[:7], dtype='datetime64')

array(['2018-05-01T00:00:00.000000000', '2018-05-01T01:00:00.000000000',
       '2018-05-01T02:00:00.000000000', '2018-05-01T03:00:00.000000000',
       '2018-05-01T04:00:00.000000000', '2018-05-01T05:00:00.000000000',
       '2018-05-01T06:00:00.000000000'], dtype='datetime64[ns]')

In [100]:
pd.DatetimeIndex(mynrange)

DatetimeIndex(['2018-05-01', '2018-05-02', '2018-05-03'], dtype='datetime64[ns]', freq=None)

In [101]:
from netCDF4 import date2num, num2date

In [102]:
mydays = range(1, 10)
num2date(mydays, 'seconds since 2018-06-08T12:43:13')

array([datetime.datetime(2018, 6, 8, 12, 43, 14),
       datetime.datetime(2018, 6, 8, 12, 43, 15),
       datetime.datetime(2018, 6, 8, 12, 43, 16),
       datetime.datetime(2018, 6, 8, 12, 43, 17),
       datetime.datetime(2018, 6, 8, 12, 43, 18),
       datetime.datetime(2018, 6, 8, 12, 43, 19),
       datetime.datetime(2018, 6, 8, 12, 43, 20),
       datetime.datetime(2018, 6, 8, 12, 43, 21),
       datetime.datetime(2018, 6, 8, 12, 43, 22)], dtype=object)

In [107]:
myprange[:10]

DatetimeIndex(['2018-05-01 00:00:00', '2018-05-01 01:00:00',
               '2018-05-01 02:00:00', '2018-05-01 03:00:00',
               '2018-05-01 04:00:00', '2018-05-01 05:00:00',
               '2018-05-01 06:00:00', '2018-05-01 07:00:00',
               '2018-05-01 08:00:00', '2018-05-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [110]:
date2num(myprange[:10].to_pydatetime(), 'days since 1992-12-31T00:00:00')

array([9252.        , 9252.04166667, 9252.08333333, 9252.125     ,
       9252.16666667, 9252.20833333, 9252.25      , 9252.29166667,
       9252.33333333, 9252.375     ])

In [108]:
datetime.datetime(1992, 12, 31) + datetime.timedelta(9252)

datetime.datetime(2018, 5, 1, 0, 0)

### Not-so-well-defined timedeltas

In [111]:
mydate + datetime.timedelta(weeks=1)

datetime.datetime(2018, 6, 8, 23, 54, 12, 555433)

In [112]:
mydate + datetime.timedelta(months=1)

TypeError: 'months' is an invalid keyword argument for this function

In [113]:
from dateutil.relativedelta import relativedelta

In [115]:
datetime.datetime.now() + relativedelta(months=1)

datetime.datetime(2018, 7, 15, 11, 43, 10, 405342)

In [116]:
datetime.datetime.now() + relativedelta(
    months=1, hour=10, minute=22, second=44)

datetime.datetime(2018, 7, 15, 10, 22, 44, 26331)

In [117]:
datetime.datetime.now() + relativedelta(
    months=1, hours=10, minutes=22, seconds=44)

datetime.datetime(2018, 7, 15, 22, 8, 20, 323256)

In [120]:
datetime.datetime.now() + relativedelta(
    months=1, hours=10, hour=11, minute=22, second=44)

datetime.datetime(2018, 7, 15, 21, 22, 44, 284139)

### Time periods

In [121]:
mydecember = pd.Period('2018-12', 'M')
mydecember

Period('2018-12', 'M')

In [122]:
mydecember.start_time, mydecember.end_time

(Timestamp('2018-12-01 00:00:00'), Timestamp('2018-12-31 23:59:59.999999999'))

In [125]:
mydecember.start_time <= datetime.datetime(2018, 12, 25) <= mydecember.end_time

True

In [ ]:
pd.Period()

### More on parsing strings

In [126]:
from dateutil.parser import parse as parse_date

In [127]:
pd1 = parse_date('Thu Sep 25 10:36:28 2003')
pd2 = parse_date('2003-09-25 10:36:28')
pd3 = parse_date('25.09.2003 10:36:28')
pd4 = parse_date('09/25/2003 10:36:28')
pd5 = parse_date('25 Sep 2003 10:36:28')
assert pd1 == pd2 == pd3 == pd4 == pd5
print(pd1)

2003-09-25 10:36:28

In [131]:
# !!! CAUTION !!!
pd1 = parse_date('10 Sep 2003 10:36:28')
pd2 = parse_date('09/10/2003 10:36:28')
pd3 = parse_date('10.09.2003 10:36:28')
pd4 = parse_date('13.09.2003 10:36:28')
print(pd2)
print(pd3)
assert pd1 == pd2 == pd3

2003-09-10 10:36:28
2003-10-09 10:36:28

AssertionError:

In [132]:
# !!! CAUTION !!!
pd1 = parse_date('10 Sep 2003 10:36:28')
pd2 = parse_date('09/10/2003 10:36:28')
pd3 = parse_date('10.09.2003 10:36:28', dayfirst=True)
pd4 = parse_date('13.09.2003 10:36:28')
print(pd2)
print(pd3)
assert pd1 == pd2 == pd3

2003-09-10 10:36:28
2003-09-10 10:36:28

In [134]:
# Doesn't work on lists!
parse_date(['10.09.2003', '11.09.2003', '12.09.2003', '13.09.2003', ])

TypeError: Parser must be a string or character stream, not list